include LICENSE
include *.md
{% if cookiecutter.use_webpack == 'y' -%}
include package.json
{%- endif %}
graft {{ cookiecutter.project_dir }}
graft tests
global-exclude .git*
global-exclude __pycache__
global-exclude *.py[co]
